HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cacheS

#SonarQube files
.scannerwork/
.sonarwork
sonar-project.properties
sonarqube.properties

