<center>
<h1>GiTrends 1.0</h1>
</center>
<h3>GiTrends is a RESTful API that helps get information about trending repositories from Github</h3>
<h1>Context :</h1>
<p>GiTrends was developed in the context of my application for the "Data Engineer Intership" poistion at <a href="https://www.gemography.com/">Gemography</a></p>
<p>It was developed using <a href="https://spring.io/projects/spring-boot">Spring Boot</a> and <a href="https://jsoup.org/">Jsoup</a>. It is secured using <a href="https://jwt.io/">JWT</a>.</p>
<h1>Usage :</h1>
<ul>
<li>
<h2>Authentication :</h2>
<p>The first step is to generate a JWT token that will help authenticate every request to the server. You can do so by sending a <strong>POST</strong> request to the following route:</p>
<em><strong>localhost:<em>8081</em>/api/v1/authenticate</strong></em>
<p>with the default user in the request body:</p>
<p><em><strong>{<br />"username":"foo",<br /> "password":"bar"<br /> }</strong></em></p>
</li>
<li>
<h2>Routes :</h2>
After authenticating, the JWT should be added to the Authorization header after "Bearer " with every request.
<ol>
<li>List the languages used by the 25 trending repositories: <br /><center><strong>localhost:8081/api/v1/repositories/trending/languages</strong></center></li>
<li>Get the number of trending repositories using a language (case insensitive path variable): <br /><center><strong>localhost:8081/api/v1/repositories/trending/languages/{language}/count</strong></center></li>
<li>List the repositories using a language (case insensitive path variable): <br /><center><strong>localhost:8081/api/v1/repositories/trending/languages/{language}</strong></center></li>
<li>Language popularity over the 25 trending repositories: <br /><center><strong>localhost:8081/api/v1/repositories/trending/languages/popularity</strong></center></li>
</ol>
</li>
<li>
<h2>Responses :</h2>
<p>Responses for valid requests take the following form :</p>
<p><em><strong>{<br />"message":"an explanatory message",<br /> "value":"the value or values requested"<br /> }</strong></em></p>
</li>
<li>  		
<li>
<h2>The missing features:</h2>
  In the first place, I expected the Github API to expose an endpoint of trending repositories but I didn't find any. So i decided to scrape the <a h="https://github.com/trending">trending repositories</a> from Github website instead of the API.
  on this web page no information is provided about frameworks, that is why I calculated programming languages popularity instead.
</li>
</ul>
<h1>The author :</h1>
<p>I am <a href="https://www.linkedin.com/in/tariq-boukouyen/">Tariq BOUKOUYEN</a>, a computer science engineering student.</p>
<h1>License :</h1>
<p>Please find it <a href="https://bitbucket.org/tariqbkn/gemography_backend_coding_challenge/commits/8d5ecd1f640520b0a334dad884a7b769edf764b0">here</a></p>